# Phase 1 - LLM Basics
google-genai==2.8.0
yfinance==1.4.1
python-dotenv==1.2.2

# Phase 2 - RAG & Vector Database
pymupdf==1.27.2.3
sentence-transformers==5.5.1
chromadb==1.5.9

# Phase 3 - Multi-Agent with LangGraph
langgraph==1.2.5
ipykernel==7.3.0
ddgs==9.14.4

# Phase 4 - Streamlit UI
streamlit==1.45.1

# Phase 5 - Deployment
beautifulsoup4==4.15.0
